# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
env/
venv/
ENV/
env.bak/
venv.bak/
src/static/api_key

# Logs and local environment files
*.log
*.env
*.local

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Cache files
*.cache
*.bak
*.swp
*.tmp
*.temp

# System files
.DS_Store
Thumbs.db
